/*******************************************************/
/*******************************************************/

/******************  全局自定义样式  ********************/

/**** 自定义样式统一以 cus_ 开头,避免和框架中的类名混淆 ****/
/*******************************************************/
/*******************************************************/

/* 内容 用于有常驻顶部 nav.ftl 的页面*/
.cus_content {
    margin-top: 56px;
}

.cus_fixed_bottom {
    position: fixed;
    bottom: 0;
}

footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

textarea {
    resize: vertical;
}

.qr_code{
    box-shadow: 0px 0px 7px #333333;
}